APP_NAME=Cartotrac API
APP_ENV=development
APP_DEBUG=true

API_V1_PREFIX=/api/v1

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=cartotrac
DB_USER=cartotrac
DB_PASSWORD=cartotrac

SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60